<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", false)
    
    
</head>
<body>
    <div>
        <a href="@Url.Action("Index","Home")" class="format"> Home  </a>
        <a href="@Url.Action("Index","About")"class="format2">About </a>
        <a href="@Url.Action("Index","News")"class="format3"> News  </a>
        <br />
        <br />
        @RenderBody()
        <br />
        <br />
        Copyright 2022
    </div>
</body>
</html>
